{
    "OrthancExplorer2": {
        "IsDefaultUI": true,
        "UiOptions": {
            "EnableShares": true,
            "DefaultShareDuration": 0,
            "ShareDurations": [
                0,
                7,
                15,
                30,
                90,
                365
            ],
            "EnableOpenInOhifViewer3": true,
            "OhifViewer3PublicRoot": "http://localhost/ohif/"
        },
        "Tokens": {
            "ShareType": "stone-viewer-publication"
        }
    },
    "AuthenticationEnabled": false,
    "Authorization": {
        "WebServiceRootUrl": "http://orthanc-auth-service:8000/",
        "WebServiceUsername": "${WEB_SERVICE_USERNAME}",
        "WebServicePassword": "${WEB_SERVICE_PASSWORD}",
        "StandardConfigurations": [
            "osimis-web-viewer",
            "stone-webviewer",
            "orthanc-explorer-2"
        ],
        "CheckedLevel": "studies"
    },
    "DicomWeb": {
        "Enable": true,
        "PublicRoot": "/orthanc/dicom-web/"
    },
    "PostgreSQL": {
        "EnableIndex": true,
        "Host": "${HOST}",
        "Port": "${PORT}",
        "Database": "${DATABASE}",
        "Username": "${USERNAME}",
        "Password": "${PASSWORD}",
        "EnableSsl": false
    },
    "AwsS3Storage": {
        "BucketName": "${BUCKET_NAME}",
        "Region": "${REGION}",
        "AccessKey": "${ACCESS_KEY}",
        "SecretKey": "${SECRET_KEY}",
        "StorageStructure": "flat",
        "UseTransferManager": true
    }
}